body {
  background-color: white;
  font-family: 'Assistant', sans-serif,'Playfair Display', serif;
  color: #21306D;
  font-size: medium;
}

.navbar {
  color: #21306D;
  font-size: 20px;
  font-family: 'Assistant', sans-serif,'Playfair Display', serif;
  font-style: bold;
}

.btn-login {
  width: 130px;
  height: 75px;
  background: #132363;
  color: white;
  border-radius: 0px;
  margin-top: -20px important;
  margin-bottom: -8px important;
  margin-right: -20px important;
}

.btn-login:hover {
  background-color: white;
  color: #132363;
}

.navbar-brand img {
  max-height: 40px;
}

header {
  padding: 180px 0 165px;
  background-image: url(../images/bg.png);
  background-size: cover;
  margin-top: -90px;
}

h1, p {
  color: white;
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  font-size: 50px;
}

p {
  font-size: 22px;
}

.btn-get-started {
  background-color: #f3842f;
  color: white;
}

.btn-get-started:hover {
  background-color: #f19650;
}

.section-stats {
  margin-top: -50px;
}

.section-stats .stats-detail {
  padding-top: 15px;
  background-color: white;
  padding-left: 40px;
}

.section-stats h2 {
  font-size: 30px;
  margin-bottom: 0;
  text-align: center;
  font-weight: bolder;
}

.section-stats p {
  font-size: 20px;
  font-weight: lighter;
  color: #132363;
  text-align: center;
}

.section-popular {
  min-height: 540px;
  background-color: #101667;
  margin-top: -50px;
  margin-bottom: -230px;
}

.section-popular .section-popular-heading {
  margin-top: 150px;
}

.section-popular .section-popular-heading h2, .section-popular .section-popular-heading p {
  color: white;
}

.section-popular .section-popular-heading h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 40px;
  margin-bottom: 30px;
}

.section-popular .section-popular-heading p {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-weight: lighter;
  margin-bottom: 50px;
}

.section-popular-content {
  margin-top: 50px;
}

.section-popular-content .section-popular-travel .card-travel {
  min-height: 380px;
  background-color: white;
  color: white;
  padding: 30px;
  background-size: cover;
  margin-bottom: 20px;
}

.section-popular-content .section-popular-travel .travel-country {
  font-size: 18px;
  color: #101667;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
}

.section-popular-content .section-popular-travel .travel-location {
  font-size: 26px;
  color: white;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
}

.section-popular-content .section-popular-travel .travel-button .btn-travel-details {
  color: white;
  background-color: #f3842f;
}

.section-popular-content .section-popular-travel .travel-button .btn-travel-details:hover {
  background-color: #f1efed;
  color: #f3842f;
}

.section-networks {
  margin-top: 100px;
  margin-bottom: 75px;
  background-color: white;
}

.section-networks h2, .section-networks p {
  font-size: 40px;
  font-family: 'Poppins',sans-serif;
  font-weight: bold;
}

.section-networks p {
  font-size: 20px;
  color: #132363;
  font-weight: normal;
}

.section-networks .img-partner {
  padding: 30px;
  max-width: 100%;
}

.section-testimonial-heading {
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#d9dbef));
  background: linear-gradient(#fff 0%, #d9dbef 100%);
  padding-top: 75px;
}

.section-testimonial-heading h2, .section-testimonial-heading p {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
}

.section-testimonial-heading p {
  font-size: 18px;
  font-weight: normal;
  color: #101667;
}

.section-testimonial-content {
  margin-top: -200px;
  padding-bottom: 50px;
}

.section-testimonial-content .card-testimonial {
  padding: 40px 20px 10px;
  border-radius: 11px;
  margin-bottom: 20px;
}

.section-testimonial-content .testimonial-content {
  min-height: 380px;
}

.section-testimonial-content h3 {
  font-size: 22px;
}

.section-testimonial-content .testimonial {
  font-family: Assistant;
  font-weight: 200;
  font-size: 20px;
  text-align: center;
  color: #191919;
  min-height: 150px;
}

.section-testimonial-content .trip-to {
  font-family: Assistant;
  font-weight: normal;
  font-size: 30px;
  text-align: center;
  color: #7a7a7a;
}

.section-testimonial-content hr {
  margin-left: -20px;
  margin-right: -20px;
  color: #191919;
}

.section-testimonial-content .btn-need-help {
  background: transparent;
  border: 1px solid #707070;
}

.section-testimonial-content .btn-need-help:hover {
  color: #f3842f;
}

.section-testimonial-content .btn-get-started {
  background-color: #f3842f;
  color: white;
}

.section-testimonial-content .btn-get-started:hover {
  background-color: white;
  color: #f3842f;
  border-color: #f3842f;
}

.section-footer {
  color: #132363;
  font-family: poppins,sans-serif;
}

.section-details-header {
  min-height: 310px;
  background-color: #C5C7DE;
  margin-top: -90px;
}

.section-details-content {
  margin-top: -210px;
  min-height: 100vh;
}

.section-details-content .breadcrumb {
  background-color: transparent;
  padding: 0;
  margin-bottom: 30px;
}

.section-details-content .breadcrumb-item.active {
  font-weight: bold;
  color: #132363;
}

.card-details {
  padding: 30px;
  border-radius: 11px;
}

h1 {
  font-size: 26px;
}

h2 {
  font-size: 20px;
}

p {
  font-size: 18px;
  color: #b1b1b1;
  font-family: poppins,sans-serif;
  font-weight: normal;
}

.card-right {
  border-bottom-left-radius: 0%;
  border-bottom-right-radius: 0%;
}

.features {
  margin-top: 20px;
}

h3 {
  font-size: 18px;
  color: #707070;
  margin-bottom: 0;
}

p {
  margin-bottom: 0;
}

.description {
  margin-left: 10px;
  overflow: hidden;
  float: left;
}

.featured-images {
  width: 45px;
  height: 45px;
  float: left;
}

.gallery .xzoom-container {
  display: block;
}

.gallery .xzoom-container .members .member-image {
  width: 40px;
  height: 40px;
}

.gallery .xzoom-container .xzoom {
  width: 100%;
  -webkit-box-shadow: none;
          box-shadow: none;
  margin-bottom: 10px;
}

.gallery .xzoom-container .xactive {
  border: 4px solid #1c0049;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.join-container {
  margin-top: -16px;
}

.btn-join-now {
  background-color: #f19650;
  color: white;
}

.btn-join-now:hover {
  background-color: #f0a871;
  color: white;
}

.text-blue {
  color: #101667;
  font-weight: bold;
}

.text-orange {
  color: #f3842f;
  font-weight: bolder;
}

h3 {
  font-weight: 600;
  font-size: 14px;
  color: #101667;
}

.disclaimer {
  font-weight: 700;
  font-size: 16px;
  color: red;
}

.gj-datepicker .datepicker {
  border-right: 0;
  text-align: center;
}

.input-group-append .btn {
  padding-right: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn-add-now {
  background-color: #101667;
  color: white;
}

.btn-add-now:hover {
  background-color: #ffffff;
  color: #101667;
  border-color: #101667;
}

.payment-instructions {
  font-weight: 300;
  font-size: 14px;
  color: #b1b1b1;
  margin-top: 5px;
  margin-bottom: 10px;
}

.bank .bank-item h3 {
  font-size: 18px;
  color: #21306D;
  margin-bottom: 0;
}

.bank .bank-item p {
  margin-bottom: 0;
  font-size: 16px;
  font-weight: normal;
  color: #21306D;
}

.bank .bank-item .description {
  margin-left: 10px;
  overflow: hidden;
  float: left;
}

.bank .bank-item .description p {
  font-size: 16px;
  font-weight: normal;
  color: #21306D;
}

.bank .bank-image {
  width: 45px;
  height: 45px;
  float: left;
}

.section-success h1 {
  font-family: 'Poppins', sans-serif;
  color: #101667;
}

.section-success .img-success {
  margin-top: 100px;
  margin-bottom: 20px;
  padding: 10px;
}

.section-success h2 {
  font-weight: 600;
  font-size: 20px;
  color: #170303;
  margin-top: 20px;
}

.section-success p {
  font-family: Assistant;
  font-weight: normal;
  font-size: 14px;
  text-align: center;
  color: #707070;
}

.section-success .btn-homepage {
  background-color: #101667;
  color: white;
  width: 200px;
  border-radius: 10px;
  background: #21306d;
  margin-top: 10px;
}
/*# sourceMappingURL=main.css.map */